

attr==0.3.2
attrs==22.1.0
ConfigParser==5.3.0

deta==1.1.0
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2


numpy==1.23.5
openpyxl==3.0.10
pandas==1.5.2
Pillow==9.3.0

pyodbc==4.0.35
pyOpenSSL==22.1.0
python-dotenv==0.21.0


smartsheet_python_sdk==3.0.0

SQLAlchemy==1.4.45
st_clickable_images==0.0.3
streamlit==1.16.0
streamlit_autorefresh==0.0.1

streamlit_multipage==0.0.18

streamlit_extras==0.2.4
toml==0.10.2

